*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom propertoies */
:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff--secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: rgb(255, 120, 0);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.7em rgba(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75em;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* Light and Dark Mode button */

.dark {
    --clr-dark: #fff;
    --clr-light: #303030;
    --clr-accent: rgb(255, 120, 0);
}

.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    transition: .2s;
}

.toggle i {
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-size: var(--fs-h3);
    z-index: 1;
}


.toggle .ball {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .2s ease-out;
}

/* light Mode */
.light {
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: rgb(255, 120, 0);
}

.toggleBox {
    background-color: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 3px 3px 4px #e6e6e6;
}

.light .toggle .fa-sun {
    color: var(--clr-light);
}

.light .toggle .fa-moon {
    color: var(--clr-dark);
}

.light .toggle .ball {
    margin: 5px;
    margin-left: 10px;
    background-color: var(--clr-dark);
}

/* Dark Mode */

.dark {
    --clr-dark: #fff;
    --clr-light: #303030;
    --clr-accent: rgb(255, 120, 0);
}

.dark .toggle {
    background: #303030;
    box-shadow: 3px 3px 4px #0e131b,
        -3px -3px 3px #303030;
}

.dark .toggle .fa-sun {
    color: #ffffff;
}

.dark .toggle .fa-moon {
    color: #303030;
}

.dark .toggle .ball {
    background-color: #fff;
    margin: 5px;
    margin-left: 0;
    transform: translateX(60px);
}

.intro input {
    display: none;
}




/* HTML */
.html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    transition: .2s;
}

/* Nav Bar */
header {
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    background-color: var(--clr-light);
    align-items: center;
    z-index: 1000;
    width: 100%;

}

header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    margin-top: -15px;
    padding: 15px;
    color: var(--clr-dark);
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 130px;
    display: none;

}

header .navbar ul li ul li {
    width: 100%;

}

header .navbar ul li:hover>ul {
    display: initial;
}

.intro {
    position: relative;
}

.section-title {
    display: block;
}

.section-title strong {
    display: block;
    font-weight: var(--fw-bold);
}

.section-subtitle {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    color: var(--clr-light);
    font-family: var(--ff--secondary);
    margin-bottom: 1em;
    display: inline-block;
}


/* Media Query */
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-image {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        box-shadow: var(--bs);
    }

    .section-subtitle {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

.section-subtitle {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    color: white;
    margin-bottom: 1em;
}



section {
    padding: 5em 2em;
}

strong {
    font-weight: var(--fw-bold);
}

.section-title {
    font-weight: var(--fw-reg);
    margin-bottom: 0.25em;
    display: block;
}

.myWork-Grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.myWork-Grid a img {
    width: 100%;
    height: auto;
}

.grid__img {
    transition: opacity 0.3s ease-in-out;
}

.grid__img:hover {
    opacity: .9;
}



.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.form-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    z-index: -1;
}

.content-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: var(--clr-accent);
    padding: 50px 0px;
}

.left-section {
    height: 100%;
    background: url("img/portfolio-02.jpg") no-repeat center;
    background-size: cover;
}

.right-section {
    padding: 25px 40px;
    background-color: var(--clr-light);
}

.form-heading {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.form-subBtn {
    padding: 1px 6px;
    border-radius: 5px;
    border-color: var(--clr-accent);
}

.form-subBtn:hover {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border: var(--clr-accent);
    padding: 4px 12px;
    border-radius: 5px;
}

/* W3schools & stackoverflow */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 30px;
    color: var(--clr-dark);
    cursor: pointer;
    transition: color 0.2s;
}

.rating label:hover,
.rating input[type="radio"]:checked~label {
    color: var(--clr-accent);
}

#form-subBtn {
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    color: var(--clr-accent);
}

#form-subBtn:hover {
    padding: 5px 12px;
    color: var(--clr-dark);
    background-color: var(--clr-accent);
    border-radius: 5px;
}