*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom propertoies */
:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff--secondary: "Source Code Pro", monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: rgb(255, 120, 0);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.7em rgba(0, 0, 0, 0.5);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75em;
        --fs-h3: 1.5rem;
        --fs-body: 1.2rem;
    }
}

/* Light and Dark Mode button */

.dark {
    --clr-dark: #fff;
    --clr-light: #303030;
    --clr-accent: rgb(255, 120, 0);
}

.toggle {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 40px;
    border-radius: 50px;
    transition: .2s;
}

.toggle i {
    width: 50%;
    line-height: 40px;
    text-align: center;
    font-size: var(--fs-h3);
    z-index: 1;
}


.toggle .ball {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .2s ease-out;
}

/* light Mode */
.light {
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: rgb(255, 120, 0);
}

.toggleBox {
    background-color: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 3px 3px 4px #e6e6e6;
}

.light .toggle .fa-sun {
    color: var(--clr-light);
}

.light .toggle .fa-moon {
    color: var(--clr-dark);
}

.light .toggle .ball {
    margin: 5px;
    margin-left: 10px;
    background-color: var(--clr-dark);
}

/* Dark Mode */

.dark {
    --clr-dark: #fff;
    --clr-light: #303030;
    --clr-accent: rgb(255, 120, 0);
}

.dark .toggle {
    background: #303030;
    box-shadow: 3px 3px 4px #0e131b,
        -3px -3px 3px #303030;
}

.dark .toggle .fa-sun {
    color: #ffffff;
}

.dark .toggle .fa-moon {
    color: #303030;
}

.dark .toggle .ball {
    background-color: #fff;
    margin: 5px;
    margin-left: 0;
    transform: translateX(60px);
}

.intro input {
    display: none;
}




/* HTML */
.html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    transition: .2s;
    scroll-behavior: smooth;
}

/* Nav Bar */
header {
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    padding: 30px 30px 0 30px;
    background-color: var(--clr-light);
    align-items: center;
    z-index: 1000;
    width: 100%;

}

header .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    margin-top: -15px;
    padding: 15px;
    color: var(--clr-dark);
    display: block;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 130px;
    display: none;

}

header .navbar ul li ul li {
    width: 100%;

}

header .navbar ul li:hover>ul {
    display: initial;
}

.intro {
    position: relative;
}

.section-title {
    display: block;
}

.section-title strong {
    display: block;
    font-weight: var(--fw-bold);
}

.section-subtitle {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    font-family: var(--ff--secondary);
    margin-bottom: 1em;
    display: inline-block;
}


/* What I Do Section */
.about-section {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-section h2 {
    color: var(--clr-accent);
}


.about-section h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 1px;
    margin: 0.4em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}


/* My Work Section */
.body-section h2 {
    color: var(--clr-accent);
}

.body-section h2::after {
    content: "";
    display: block;
    width: 10%;
    height: 1px;
    margin: 0.4em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}


/* Media Query */
@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-image {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        box-shadow: var(--bs);
    }

    .section-subtitle {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

.section-subtitle {
    background: var(--clr-accent);
    padding: 0.25em 1em;
    color: white;
    margin-bottom: 1em;
}

section {
    padding: 5em 2em;
}

strong {
    font-weight: var(--fw-bold);
}

.section-title {
    font-weight: var(--fw-reg);
    margin-bottom: 0.25em;
    display: block;
}

.myWork-Grid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.body-section {
    margin: 0 auto;
    text-align: center;
}


.myWork-Grid a img {
    width: 100%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.grid__img {
    transition: opacity 0.3s ease-in-out;
}

.grid__img:hover {
    opacity: .9;
    border: var(--clr) 2px solid;

}


/* Form Container */
.form-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.form-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-accent);
    z-index: -1;
}

.content-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: var(--clr-accent);
    padding: 50px 0px;
}

.left-section {
    height: 100%;
    background: url("img/portfolio-02.jpg") no-repeat center;
    background-size: cover;
}

.right-section {
    padding: 25px 35px;
    background-color: var(--clr-light);
}

.form-heading {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.form-subBtn {
    padding: 1px 6px;
    border-radius: 5px;
    border-color: var(--clr-accent);
}

.form-subBtn:hover {
    background-color: var(--clr-accent);
    color: var(--clr-light);
    border: var(--clr-accent);
    padding: 4px 12px;
    border-radius: 5px;
}

/* W3schools & stackoverflow */
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 30px;
    color: var(--clr-dark);
    cursor: pointer;
    transition: color 0.2s;
}

.rating label:hover,
.rating input[type="radio"]:checked~label {
    color: var(--clr-accent);
}

#form-subBtn {
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    color: var(--clr-accent);
}

#form-subBtn:hover {
    padding: 5px 12px;
    color: var(--clr-dark);
    background-color: var(--clr-accent);
    border-radius: 5px;
}

.about-body {
    background-color: #303030;
    color: #e1e1e1;
}



#Wrk-Btn {
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    color: black;
}

#Wrk-Btn:hover {
    padding: 5px 12px;
    background-color: var(--clr-accent);
    border-radius: 5px;
}

#Wrk-Btn a {
    text-decoration: none;
    color: black;
}


/* Animation for drag in */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.portfolio__item:nth-child(2) {
    transition-delay: 200ms;
}

.portfolio__item:nth-child(3) {
    transition-delay: 400ms;
}

.portfolio__item:nth-child(4) {
    transition-delay: 600ms;
}

.about-image {
    max-width: 70%;
}

/* Chat System */
.chatBody {
    height: 45em;
}

.form h1 {
    color: var(--clr-accent);
    text-align: center;
}

.form h1::after {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    margin: 0.4em auto 1em;
    background: var(--clr-accent);
    opacity: 0.25;
}

.body-form {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10em;
    margin-top: 1em;
}

.wrapper section {
    background-color: var(--clr-light);
    padding: 1em 2em;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.form {
    padding: 25px 30px;
}

.form form .error-txt {
    display: none;
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
}

.form form .name-details {
    display: flex;
}

.form form .name-details .field:first-child {
    margin-right: 10px;
}

.form form .name-details .field:last-child {
    margin-left: 10px;
}

.form form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
}

.form form .field label {
    margin-bottom: 2px;
}

.form form .field input {
    outline: none;
}

.form form .input input {
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form form .image input {
    font-size: 17px;
}

.form form .button input {
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: var(--clr-dark);
    color: var(--clr-light);
    border-radius: 5px;
    cursor: pointer;
}

.form form .field i {
    position: absolute;
    right: 15px;
    top: 70%;
    color: #ccc;
    transform: translateY(-50%);
}

.form form .field i.active::before {
    content: "\f070";
    color: var(--clr-accent);
}

.form .link {
    text-align: center;
    margin: 10px 0;
    font-size: 17px;
}

.form .link a {
    color: var(--clr-dark);
    text-decoration: none;
}

.form .link a:hover {
    text-decoration: underline;
}


/* User form */
.users {
    width: 60%;
    margin: auto auto;
    padding: 25px 30px;
}

.users .header,
.users-list a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.wrapper img {
    object-fit: cover;
    border-radius: 50%;
}

.users .header .content img {
    height: 50px;
    width: 50px;
}

.users .header .content,
.users-list a .content {
    display: flex;
    align-items: center;
}

.users .header .details,
.users-list a .details,
.chat-area .header .details {
    color: var(--clr-dark);
    margin-left: 15px;

}

.users .header .details span,
.users-list .content .details span {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #0e131b;
    text: var(--fw-bold)
}

.users .header .details p {
    margin-top: 0;
}

.users .header .logout {
    background: var(--clr-dark);
    color: var(--clr-accent);
    padding: 7px 15px;
    border-radius: 5px;
    text-decoration: none;
}

.users .search {
    margin: 20px 0;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

}


.users .search input {
    height: 42px;
    width: calc(100% - 50px);
    position: absolute;
    border: 1px solid var(--clr-dark);
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.users .search input.active {
    opacity: 1;
    pointer-events: auto;
}

.users .search button {
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: var(--clr-accent);
    background-color: var(--clr-dark);
    border-radius: 5px;
    transition: all 0.2s ease;

}

.users .search button.active {
    color: var(--clr-accent);
    background-color: var(--clr-light);
    border: 1px solid var(--clr-accent);
}

.users .search button.active i::before {
    content: "\f00d";
}

.users-list a .content img {
    height: 40px;
    width: 40px;

}

.users-list a {
    text-decoration: none;
    margin-bottom: 15px;
    page-break-after: 10px;
    padding-right: 15px;
    border-bottom-color: #f1f1f1;
}

.users-list a:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}

.users-list .status-dot {
    font-size: 12px;
    color: green;
}

/* Use this to show offline */
.users-list .status-dot.offline {
    color: grey
}


/* Chat area */
.chat-area {
    width: 60%;
    margin: auto auto;
    padding: 25px 30px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;

}

.chat-area .header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.chat-area .header img {
    height: 45px;
    width: 45px;
}

.chat-area .header .details p {
    margin-top: 0;
}

.chat-area .header .back-icon {
    font-size: 19px;
    color: var(--clr-dark);
    margin: 0 15px;
}

.chat-area .header .details span {
    font-size: 18px;
    font-weight: 600;
}

.chat-box {
    height: 450px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
}

.chat-box .chat p {
    word-wrap: break-word;
    padding: 8px 16px;
}

.chat-box .chat {
    margin: 15px 0;
}

.chat-box .outgoing {
    display: flex;
}

.outgoing .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.outgoing .details p {
    background: #303030;
    color: var(--clr-accent);
    border-radius: 18px 18px 0px 18px;
}

.chat-box .incoming img {
    height: 35px;
    width: 35px;
}

.chat-box .incoming {
    display: flex;
    align-items: flex-end;
}

.incoming .details {
    margin-left: 10px;
}

.incoming .details p {
    background: var(--clr-light);
    color: var(--clr-dark);
    border-radius: 18px 18px 18px 0;
}

.incoming .details {
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}

.typing-area input {
    height: 45px;
    width: calc(100% - 50px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
}

.input-field {
    height: 45px;
    width: calc(100% - 50px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px;
    outline: none;
}

.message-input-btn {
    width: 55px;
    border: none;
    outline: none;
    background: var(--clr-dark);
    color: var(--clr-accent);
    border-radius: 0 5px 5px 0;
}